*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
section a
{
    color: black;
}
#navbar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to left , #6ba0d1, #47a9c7, #46aeb1, #63b096, #87ae7e, #9ab076, #aeb16f, #c4b16c, #d1b869, #debe66, #ecc562, #fbcb5f);
    padding: 0 !important;
}
section  .navbar-brand
{
    font-style: unset;
    color: white;
    font-weight: bold;
    height: 50px;
    padding-left: 20px;
}
.navbar-nav
{
    padding: 0 10 px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff !important;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}
/* banner section */
#banner
{
    background-image: linear-gradient(to left , #6ba0d1, #47a9c7, #46aeb1, #63b096, #87ae7e, #9ab076, #aeb16f, #c4b16c, #d1b869, #debe66, #ecc562, #fbcb5f);
    color: #fff;
    padding-top: 5%;
}
#container
{
    margin-right: 40%;
}
.tittle
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    margin-left: 15%;
}
.sous-tittle
{

    margin-left: 15%;
    text-align: center;
    
}
.play-btn
{
    width: 45px;
    margin: 20px;
}
#banner a
{
    color: #fff;
    text-decoration: none;
    margin-left: 15%;
}
.undraw-img
{
    margin-left: 700px;
    width: 110%;
}
.bottom-img
{
    width: 100%;
}

/*services*/
#services
{
    padding: 80px 0;
}
.services-img
{
    width: 100px;
    margin-top: 90px;
}
.sevices
{
    padding: 20px;
    margin-top: 25px;
}
/* .services h4
{
    padding: 15px;
    margin-top: 44px;
    text-transform: uppercase;
} */
.title::before
{
    content: '';
    background: #9ab076;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
/* .title::after
{
    content: '';
    background: #9ab076;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
} */
#services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #46aeb1, #63b096, #63b096, #87ae7e, #9ab076, #aeb16f, #c4b16c, #d1b869, #debe66, #ecc562, #fbcb5f);
}
/**About us**/
#about-us
{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
#about-us ul li
{
    margin: 10px 0;    
    
}
#about-us ul 
{
    
    margin-left: 20px;
}
#img-connected
{
    
}
#clients
{
    margin: 100px 0;
}
.clients
{
    border-left: 4px solid #9ab076;
    margin-top: 50px;
    margin-bottom: 50px;
}
.clients img
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.userr
{
    display: inline-block;
    font-size: 12px;
}
#footer
{
    background-image: linear-gradient(to left , #6ba0d1, #47a9c7, #46aeb1, #63b096, #87ae7e, #9ab076, #aeb16f, #c4b16c, #d1b869, #debe66, #ecc562, #fbcb5f);
    color: #fff;
}
.footer-img
{
    width: 100%;
}
.footer-box
{
    padding: 20px;
}
.footer-box a
{
    color: #fff !important;
    font-weight: 600;
    font-size: 40px;
    /* float: right;
    text-align: left; */

}

